  <router-outlet></router-outlet>

  <button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <app-header></app-header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <app-slider></app-slider>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <app-about></app-about>
    <!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <app-count></app-count>
    <!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <app-service></app-service>
    <!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <app-features></app-features>
    <!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
   <app-testimonial></app-testimonial>
    <!-- End Testimonials Section -->

    <!-- ======= Gallery Section ======= -->
    <app-gallery></app-gallery>
    <!-- End Gallery Section -->

    <!-- ======= Team Section ======= -->
    <app-team></app-team>
    <!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <app-pricing></app-pricing>
    <!-- End Pricing Section -->

    <!-- ======= Contact Section ======= -->
    <app-contact></app-contact>
    <!-- End Contact Section -->

  </main>
  <!-- End #main -->

  <!-- ======= Footer ======= -->
  <app-footer></app-footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
